<%= form_with(model: message, local: false) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :content, placeholder: "Text here...", class: 'form-control', id: 'message-box' %>
    <div class="input-group-append">
      <%= form.submit "Add Message", class: 'btn btn-secondary'%>
    </div>
  </div>
<% end %>
